<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" [formGroup]="signInform">
                    <h1>SignIn</h1>
                    <p class="text-muted"> Please enter user Name and password!</p>
                     <input type="text" name="" formControlName="userName" placeholder="Username">
                      <input type="password" name="" formControlName="password" placeholder="Password">
                      <p style="color: red;font-size: medium;">{{message}}</p>
                       <a class="forgot text-muted" href="#">Forgot password?</a> 
                       <input type="submit" name="" (click)="signIn()" value="SignIn" href="#">
                    <!-- <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>