
    <h3 mat-dialog-title style="color: black;">EDIT Video</h3>

    <form class="mat-dialog-content d-flex flex-column " style="width: 30vw;height: 100%;overflow:inherit;"    [formGroup]="dialogForm">
        
      <div class="form-group">

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Video Name</mat-label>
            <!-- <mat-label *ngIf="data">{{data.videoName}}</mat-label> -->
            <input matInput  formControlName="videoName"  >
            <mat-error *ngIf="formControls.videoName.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Video Url</mat-label>
            <input matInput *ngIf="data" value="{{data.videoUrlString}}"  disabled>
          
            <!-- <mat-error >{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
        </div>
        <div class="form-group" >
          <mat-form-field class="example-chip-list" style="width: 100%;">
            <mat-chip-list #chipList aria-label="KeyWords selection">
              <mat-chip *ngFor="let keyWord of matChipService.data" [selectable]="true" 
                       [removable]="true" (removed)="matChipService.remove(keyWord)">
                {{keyWord.name}}
                <mat-icon matChipRemove >cancel</mat-icon>
              </mat-chip>
              <input placeholder="New KeyWord..." 
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="matChipService.add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div mat-dialog-actions>
          <button #save mat-button (click)="submit()" [disabled]="!dialogForm.valid"  [mat-dialog-close]="1"
             >Save</button>
          <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
      
    </form>
